@import "assets/style/main";

.pagination {
  @include flex(center, center);

  gap: 8px;

  &__button {
    @include flex(center, center);

    cursor: pointer;
    border: none;
    background: none;

    svg {
      path {
        fill: var(--text-color);
      }
    }

    &:hover {
      svg {
        path {
          fill: $blue-dark;
        }
      }
    }
  }

  &__item {
    @include flex(center, center, column);

    height: 32px;
    width: 32px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    transition: all $animation;

    &:hover {
      background: $gradient-blue;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_active {
      position: relative;
      background: $gradient-blue;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0 0 0 -1px;
        padding: 1px;
        border-radius: 5px;
        background: $gradient-blue;
        mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask-composite: destination-out;
        mask-composite: exclude;
      }
    }
  }
}
