@import "src/assets/style/main";

.register {
  @include flex(center, center, column);

  margin-top: 80px;

  &__title {
    @include roboto-32($color: $black);

    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include roboto-16($color: $black);

    font-style: normal;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 32px;
  }

  &__form {
    @include flex(center, center, column);

    border-radius: 20px;
    gap: 19px;
    min-width: 773px;
    max-width: 773px;
  }

  &__input {
    height: 46px;
  }

  &__suggestion {
    @include roboto-16($color: $black);

    font-style: normal;
    line-height: normal;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 95px;
  }

  &__link {
    @include roboto-16($color: $black);
  }

  &__userName {
    width: 100%;

    @include flex(start, space-between, row);

    gap: 32px;
  }
}
