@import "src/assets/style/main";

.register {
  @include flex(center, center, column);

  margin-top: 80px;

  &__container {
    @include flex(center, center, column);

    &_hide {
      display: none;
    }
  }

  &__title {
    @include roboto-32($color: var(--text-color));

    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include roboto-16($color: var(--text-color));

    font-style: normal;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 32px;
  }

  &__form {
    @include flex(center, center, column);

    border-radius: 20px;
    gap: 19px;
    min-width: 773px;
    max-width: 773px;
  }

  &__input {
    height: 46px;
  }

  &__suggestion {
    @include roboto-16($color: var(--text-color));

    font-style: normal;
    line-height: normal;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 102px;
  }

  &__link {
    @include roboto-16($color: var(--text-color));
  }

  &__userName {
    width: 100%;

    @include flex(start, space-between, row);

    gap: 32px;
  }

  &__tooltip-input {
    width: 100%;
    position: relative;
  }

  &__tooltip-container {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
    padding: 13px;
    border-radius: 20px;
    max-width: 300px;
    transform: translateX(106%) translateY(6%);
    background-color: $purple;
    border-color: none;
    opacity: 0;
    transition: 0.5s;

    &::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 26px;
      transform: translateX(-85%);
      border-width: 10px 15px 10px 0;
      border-style: solid;
      border-radius: 10px;
      border-color: transparent $purple;
      border-color: none;
    }
  }

  &__input:focus + &__tooltip-container {
    opacity: 1;
  }

  &__tooltip-item {
    @include roboto-16($color: var(--tooltip-text));

    line-height: 140%;
    list-style: disc outside;
    margin-left: 23px;
    padding-right: -100px;
  }

  &__message {
    display: none;

    &_show {
      @include flex(center, center, column);

      margin-top: 50px;
    }
  }

  &__confirm-form {
    @include flex(center, center, column);

    min-width: 773px;
    min-height: 468px;
    padding: 32px;
    gap: 20px;
    border-radius: 20px;
  }

  &__confirm-title {
    @include roboto-32($color: var(--text-color));

    margin-bottom: -5px;
  }

  &__confirm-textbox {
    @include flex(center, center, column);
  }

  &__confirm-text {
    @include flex(center, center, row);
    @include roboto-16($color: var(--text-color));

    font-weight: 300;
    line-height: 140%;
  }

  &__confirm-link {
    line-height: 110%;
    outline: none;
    margin-left: 4px;
    border-radius: 0;

    &:hover {
      border-bottom: 1px solid var(--link-underline);
    }
  }
}
