@import "src/assets/style/main";

.button-changes {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: none;
  text-decoration: none;
  z-index: 1;
  font-size: $text-size-default;
  font-weight: 300;
  line-height: 24px;
  color: $blue;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid;
  }
}
