@import "src/assets/style/main";

.button-changes {
  position: relative;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  border: none;
  text-decoration: none;
  font-size: $text-size-default;
  font-weight: 300;
  line-height: 24px;
  max-height: 24px;
  color: var(--profile-button-change);
  background-color: transparent;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid;
  }
}
