@import "../../style/variables";
@import "../../style/mixins";

.checkbox {
  color: $black;
  display: flex;
  align-items: center;
  max-width: 200px;
  font-size: $textSizeSmall;
  line-height: 21px;
  text-align: left;

  &_input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
    appearance: none;
    min-width: 15px;
    height: 15px;
    border: 1px solid $black;
    border-radius: 4px;
    background-color: $white;

    @include flex(center, center);

    margin-right: 8px;
  }

  &_input[type="checkbox"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 2px;
    background-color: $darkBlue;
  }
}
