@import "/src/assets/style/main";

.textarea {
  &__label {
    @include roboto(var(--text-color), $text-size-default, 140%, 400);

    width: 100%;
    border: none;
  }

  &__field {
    width: inherit;
    resize: none;
    padding: 12px;
    outline: 1px var(--input-border) solid;
    outline-offset: -1px;
    background-color: var(--input-background);
    border-radius: 10px;
    margin-top: 4px;

    @include roboto(var(--text-color), $text-size-default, 22.4px, 400);

    &:focus {
      outline: 2px var(--input-border) solid;
      outline-offset: -2px;
    }

    &::placeholder {
      color: var(--input-placeholder);
      opacity: 0.8;
    }
  }

  &_field-error {
    border-color: $red;
  }

  &_error-text {
    padding-top: 4px;

    @include roboto($red, 16px, 22.4px, 300);
  }

  &_error-message-hide {
    display: none;
  }
}
