@import "src/style/main";

.button {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &_style_fill {
    background: $primaryGradient;
    color: $white;

    &::before {
      position: absolute;
      background: $darkBlue;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: opacity $animation;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    &:active::before {
      background: $seaBlue;
      transition: background $animation;
    }

    &:disabled {
      background: $darkBlue-20;

      &:hover::before {
        opacity: 0;
      }
    }
  }

  &_style_outline {
    background: transparent;
    border: 1.5px $darkBlue solid;
    color: $black;

    &:hover {
      border-width: 2px;
    }
    &:active {
      border-width: 3px;
    }

    &:disabled {
      border-width: 1.5px;
      border-color: $darkBlue-20;
    }
  }

  &_size_standard {
    padding: 12px 32px;
  }

  &_size_medium {
    padding: 22px 32px;
  }
}

.forStory {
  border-radius: 0px 10px 10px 0px;
}
