@import "src/assets/style/main";

.profile {
  @include flex(flex-start, space-between);

  margin-top: 80px;
  color: var(--text-color);

  &__navigation {
    margin-right: 40px;
    margin-top: 73px;
    max-width: 285px;
    width: 100%;
    font-size: 20px;

    &-button:last-child {
      margin-bottom: 0;
    }
  }

  &_details {
    width: 100%;
  }

  &__title {
    @include roboto(var(--text-color), 32px, 38px, 400);

    text-align: left;
    margin-bottom: 34px;
  }
}

.button.profile__navigation-button {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  justify-content: flex-start;
}
