@import "src/assets/style/main";

.search {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;

  &__input-button {
    border-radius: 0 10px 10px 0;
  }

  &__input-label {
    padding-bottom: 0;
  }

  &__error-label {
    padding: 0;
  }

  &__hint {
    position: relative;
    padding: 32px;
    border-radius: 10px;
    background-color: $sea-blue-20;
    grid-column: 1 / -1;
  }

  &__hint-container {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__hint-header {
    margin: 0;
    padding-bottom: 12px;
    color: $dark-blue;
    font-size: $text-size-small;

    &_no-found {
      padding-bottom: 0;
    }
  }

  &__hint-list {
    margin: 0;
  }

  &__hint-list-element {
    padding-bottom: 12px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__hint-link {
    text-decoration: none;
    color: $black;
    font-size: $text-size-default;
  }
}
