@import "/src/style/variables";
@import "/src/style/mixins";

.breadcrumbs {
  box-sizing: border-box;
  padding: 0;

  @include flex($align: center, $justify: flex-start, $direction: row);

  &__element {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    list-style: none;
    cursor: pointer;

    &::after {
      position: absolute;
      right: -32px;
      top: 50%;
      width: 24px;
      height: 24px;
      content: "";
      background-image: url('data:image/svg+xml;charset=utf-8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="2" fill="$black"/></svg>');
      cursor: auto;
      transform: translate(0, -50%);
      transform: translate(0, -50%);
      transform: translate(0, -50%);
      transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-of-type {
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  &__link {
    padding-top: 4px;
    padding-bottom: 4px;
    color: $black;
    text-decoration: none;
    border: none;

    &:hover {
      cursor: pointer;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-image: $primary-gradient;
      border-image-slice: 1;
    }
  }

  &__bullet {
    flex: none;
  }
}

.for-story {
  color: #777;
}
