@import "src/assets/style/main";

.filter__tab {
  @include flex(center);

  gap: 8px;
  cursor: pointer;
  font-size: $text-size-medium;
  font-weight: 500;
  color: var(--text-color);

  &-count {
    color: var(--span-text);
    display: flex;
  }
}
