@import "src/assets/style/variables";

.filter {
  position: relative;
  z-index: 2;
  background-color: var(--input-backgrounds);

  &__content {
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    gap: 20px;
    padding: 78px 20px 20px;
    width: 100%;
    background-color: var(--filter-content-background);
    outline: 1px solid var(--filter-content-border);
    border-radius: 10px 10px 20px 20px;
  }
}
