@import "assets/style/variables";

.filter {
  position: relative;
  z-index: 1;
  background-color: $white;

  &__content {
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    gap: 20px;
    padding: 78px 20px 20px;
    width: 100%;
    background-color: $white;
    outline: 1px solid $blue;
    border-radius: 10px 10px 20px 20px;
  }
}
