.filter__nav {
  flex: 0 0 136px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
}
