@import "src/assets/style/main";

.label {
  @include roboto-16(var(--text-color));

  display: block;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  background-color: var(--company-lable-background);
  height: 35px;
  width: fit-content;
  cursor: default;

  &:hover {
    background-color: var(--company-lable-background-hover);
  }
}
