@import "src/assets/style/main";

.label {
  @include roboto-16;

  display: block;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  background-color: $sea-blue-light;
  height: 35px;
  width: fit-content;
  cursor: default;

  &:hover {
    background-color: $sea-blue-middle;
  }
}
