@import "assets/style/variables";

.filter__nav-item {
  padding: 0;
  padding-right: 20px;
  font-size: $text-size-medium;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: var(--text-color);

  &_active {
    color: var(--filter-nav-item-active);
  }
}
