@import "src/assets/style/main";

.labels {
  &__text {
    display: inline-block;
    padding-bottom: 12px;

    @include roboto-14($black, 400);
  }

  &__list {
    @include flex;

    flex-wrap: wrap;
    gap: 12px;
    margin: 0;

    &-item {
      text-decoration: none;
    }
  }
}
