@import "src/assets/style/main";

.labels {
  &__wrapper {
    max-height: 120px;
    position: relative;

    &.labels_full {
      max-height: none;
    }
  }

  &__text {
    display: block;
    padding-bottom: 12px;

    @include roboto(var(--text-color), 14px, 16px, 400);
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    @include flex;

    flex-wrap: wrap;
    gap: 12px;
    margin: 0;

    &-item {
      position: relative;
      text-decoration: none;
    }
  }
}

.labels__tooltip {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  left: initial;
  margin: initial;
  height: max-content;
  width: max-content;
  white-space: wrap;
  max-width: 300px;
  padding: 8px 12px;
  border-radius: 10px;
  background: var(--company-lable-background-hover);
  color: var(--text-color);
  text-align: center;
  z-index: 1;
}
