@import "/src/assets/style/main";

.header {
  width: 100%;

  @include flex(center, space-between, row);

  &__userdata {
    @include flex(center, center);

    gap: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  &__logo {
    width: 173px;
    height: 69px;
    background-image: url("../../images/Logo.svg");
  }

  &__navigation {
    @include flex(center, space-between, row);

    gap: 20px;
  }

  &__user {
    @include roboto-16(var(--text-color));
  }
}
