@import "/src/assets/style/main";

.header {
  width: 100%;

  @include flex(center, space-between, row);

  &__userdata {
    @include flex(center, center);

    gap: 8px;
    cursor: pointer;
    text-decoration: none;
  }

  &__logo {
    width: 173px;
    height: 69px;
    background-image: url("../../images/Logo.svg");
  }

  &__navigation {
    @include flex(center, space-between, row);

    gap: 20px;
  }

  &__user {
    @include roboto-16($black);
  }

  &__theme {
    margin: 0;
    position: relative;
    width: 95px;
    height: 43px;
    appearance: none;
    background-color: none;
    border-radius: 20px;
    border: 1px solid $blue;
    outline: none;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 0 1px $blue;
    }

    &:checked {
      /* background-color: #2be080; */
      border: 1px solid $dark-blue-night;
    }

    &:checked:hover {
      /* background-color: #2be080; */
      border: 1px solid $dark-blue-night;
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      background: $blue;
      transition: 0.5s;
    }

    &:checked::before {
      left: 57px;
      background: $dark-blue-night;
    }
  }
}
