$seaBlue: #479fba;
$seaBlue-50: #8acce1;
$seaBlue-20: rgba(198, 226, 234, 0.5);

$darkBlue: #4e4cbf;
$darkBlue-50: #7a78cc;
$darkBlue-20: #c0bfe2;

$pink: #ff9091;
$purple: #bd489d;
$white: #ffffff;
$black: #000000;

$lightViolet: #8c5cf11a;
$darkViolet: #e8defc;


$primaryGradient: linear-gradient(180deg, #605ed6 -0.01%, #5c9ad2 100.02%);

$textSizeSmall: 14px;
$textSizeDefault: 16px;
$textSizeMedium: 20px;
$textSizeLarge: 32px;
