$sea-blue: #479fba;
$sea-blue-50: #8acce1;
$sea-blue-20: #c6e2ea;
$dark-blue: #4e4cbf;
$dark-blue-50: #7a78cc;
$dark-blue-20: #c0bfe2;
$pink: #ff9091;
$purple: #bd489d;
$white: #fff;
$black: #000;
$primary-gradient: linear-gradient(180deg, #605ed6 -0.01%, #5c9ad2 100.02%);
$text-size-small: 14px;
$text-size-default: 16px;
$text-size-medium: 20px;
$text-size-large: 32px;
$animation: ease-out 0.3s;
