@import "src/assets/style/main";

.form.form-info {
  max-width: none;
  border-radius: 20px;
  display: grid;
  row-gap: 20px;

  &_with-change {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 20px;
  }
}

.form-info {
  &_name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    align-items: start;
  }
}

.info-buttons {
  @include flex(center, space-between);
}

.form.form-info-change {
  max-width: none;
  border-radius: 0 0 20px 20px;
  padding-top: 0;
  display: grid;
  row-gap: 20px;
}

.form-info-change__tooltip-input {
  width: 100%;
  position: relative;
}

.form-info-change__tooltip-container {
  position: absolute;
  margin-top: 0;
  top: 0;
  left: 0;
  padding: 13px;
  border-radius: 20px;
  max-width: 300px;
  transform: translateX(-106%) translateY(6%);
  background-color: $purple;
  border-color: none;
  opacity: 0;
  transition: 0.5s;

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 26px;
    transform: translateX(85%);
    border-width: 10px 0 10px 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: transparent $purple;
    border-color: none;
  }
}

.input__field:focus + .form-info-change__tooltip-container {
  opacity: 1;
}

.form-info-change__tooltip-item {
  @include roboto-16($color: var(--tooltip-text));

  line-height: 140%;
  list-style: disc outside;
  margin-left: 23px;
  padding-right: -100px;
}
