@import "/src/assets/style/main";

.footer {
  position: relative;

  @include flex(center, space-between, row);

  width: 100%;
  min-height: 70px;
}

.footer__copyright {
  font-size: $text-size-small;
  color: var(--text-color);
}
