@import "src/assets/style/main";

.search {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  position: relative;

  &__input-button {
    border-radius: 0 10px 10px 0;

    &:disabled {
      transition: background $animation;
    }
  }

  &__input_1 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: none;
    border-radius: 10px 0 0 10px;
    font-size: $text-size-medium;

    &::placeholder {
      color: var(--input-placeholder-search);
    }

    &:hover::placeholder {
      color: var(--input-placeholder-search-hover);
    }
  }

  &__input_2 {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    font-size: $text-size-medium;

    &::placeholder {
      color: var(--input-placeholder-search);
    }

    &:hover::placeholder {
      color: var(--input-placeholder-search-hover);
    }
  }

  &__hint {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 10px;
    background-color: var(--search-hint);
    grid-column: 1 / -1;
    z-index: 1;
    transition: height $animation;
  }

  &__hint-list-container {
    padding: 0 32px;
    margin-bottom: 20px;

    &:first-of-type {
      padding-top: 32px;
    }

    &:last-of-type {
      padding-bottom: 32px;
      margin-bottom: 0;
    }
  }
}
