@import "/src/assets/style/main";

.input {
  display: flex;
  flex-flow: column wrap;
}

.input__label {
  width: 20%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.6px;
}

.input__field {
  width: 80%;
  padding: 12px;
  background-color: $light-grey;
  border: 1px solid $dark-blue;
  border-radius: 10px;
  font-size: 16px;
  color: $black;
  font-weight: 400;
  line-height: 22.4px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $black;
    opacity: 0.8;
  }
}

.input__field-error {
  border-color: $red;
}

.input__error-text {
  padding-top: 4px;
  width: 100%;
  color: $red;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
}