@import "src/assets/style/main";

.filterPage {
  padding: 40px 0 86px;

  &__intro {
    @include flex(stretch, center, column);

    gap: 40px;
  }

  &__title {
    @include roboto-32(var(--text-color));

    line-height: 38px;
    text-align: center;
  }

  &__subtitle {
    display: block;
    margin-top: 20px;

    @include roboto(var(--text-color), 16px, 22px, 300);
  }

  &__list {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  &__listitem {
    display: block;
  }

  &__background {
    background-color: var(--filter-companycard-background);
  }

  &__no-results {
    position: relative;
    min-height: 278px;
    padding: 40px 0;
    text-align: center;

    &-image {
      position: absolute;
      width: 351px;
      height: 257px;
      background-repeat: no-repeat;
      background-position: center center;
      right: -120px;
      top: -20px;
      background-size: cover;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='364' height='433' viewBox='0 0 364 433' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_982_7447)'%3e%3cpath d='M369.338 225.466C360.781 218.858 351.619 212.876 341.517 209.01C323.212 201.996 303.253 203.198 289.079 217.737C262.048 245.473 246.781 282.816 219.7 310.862C205.105 325.958 187.769 338.372 167.176 343.588C146.241 348.891 119.702 343.99 99.5292 336.762C67.826 325.388 38.4259 298.002 32.8866 263.235C28.3893 235.056 41.8213 203.816 67.3775 191.2C74.2563 187.806 81.9508 185.761 89.5938 186.54C102.32 187.833 113.225 196.88 119.976 207.768C122.879 212.453 125.214 217.75 125.069 223.261C124.857 231.177 119.187 238.469 111.793 241.266C107.409 242.917 102.574 243.083 97.9992 241.994C96.4203 241.621 96.4671 239.316 98.0568 239.011C103.179 237.998 107.937 234.534 110.154 229.735C113.656 222.141 110.98 212.471 104.647 207.001C98.3137 201.53 88.9967 200.148 81.0231 202.622C73.0495 205.095 66.406 211.08 62.1873 218.293C54.3727 231.613 54.5943 248.566 59.7752 263.145C64.913 277.566 74.3375 293.257 86.8025 302.493C91.3045 305.838 96.8454 308.653 102.576 308.701C104.178 308.716 107.392 307.403 108.759 307.722C108.759 307.722 172.189 323.091 238.718 199.14C238.718 199.14 323.144 83.7702 414.944 186.158C399.755 199.281 384.656 212.487 369.364 225.49L369.338 225.466Z' fill='url(%23paint0_linear_982_7447)'/%3e%3cpath d='M427.914 174.891C411.156 161.008 393.455 147.937 373.668 138.884C323.358 115.851 270.501 129.693 237.403 173.937C208.629 212.392 193.436 262.21 150.997 289.059C130.757 301.863 104.786 306.575 83.8973 292.61C76.1969 287.461 70.9888 279.855 63.9256 274.301C62.6181 291.853 82.9498 308.954 98.3343 313.069C141.054 324.531 193.03 286.861 216.706 254.21C238.792 223.761 252.23 192.669 286.219 172.881C317.184 154.843 343.569 160.216 371.829 180.069C375.589 182.702 400.257 198.844 392.687 205.416C404.418 195.254 416.16 185.079 427.914 174.891Z' fill='url(%23paint1_linear_982_7447)'/%3e%3cpath opacity='0.44' d='M157.758 174.63C160.844 171.545 160.844 166.543 157.758 163.458C154.673 160.372 149.671 160.372 146.586 163.458C143.501 166.543 143.501 171.545 146.586 174.63C149.671 177.715 154.673 177.715 157.758 174.63Z' fill='%238ACCE1'/%3e%3cpath opacity='0.44' d='M161.676 132.75C161.676 135.37 163.806 137.5 166.426 137.5C169.046 137.5 171.176 135.37 171.176 132.75C171.176 130.13 169.046 128 166.426 128C163.806 128 161.676 130.13 161.676 132.75Z' fill='%238ACCE1'/%3e%3cpath opacity='0.78' d='M143.086 145.14C143.086 147.32 144.856 149.09 147.036 149.09C149.216 149.09 150.986 147.32 150.986 145.14C150.986 142.96 149.216 141.19 147.036 141.19C144.856 141.19 143.086 142.96 143.086 145.14Z' fill='%238ACCE1'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_982_7447' x1='175.997' y1='443.847' x2='-11.1339' y2='270.289' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23605ED6'/%3e%3cstop offset='1' stop-color='%235C9AD2'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_982_7447' x1='191.129' y1='430.237' x2='44.9761' y2='294.685' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23605ED6'/%3e%3cstop offset='1' stop-color='%235C9AD2'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_982_7447'%3e%3crect width='351' height='257' fill='white' transform='translate(427.914 174.891) rotate(132.845)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }
}
