@import "src/assets/style/main";

.link {
  text-decoration: none;
  font-size: $text-size-default;
  line-height: 24px;
  font-weight: 300;
  max-height: 24px;

  &:hover {
    cursor: pointer;
    border-bottom: 1px solid;
  }
}
