@import "src/assets/style/main";

:root[data-theme="light"] {
  --background: #{$white};
  --theme-transition: 0.5s;
  --button-border: #{$blue};
  --text-color: #{$black};
  --icon-color: #{$blue};
  --link-underline: #{$sea-blue-middle-soft};
  --input-border: #{$blue};
  --input-background: #{$white};
  --input-placeholder: #{$black};
  --span-text: #{$blue};
  --search-hint: #{$sea-blue-light};
  --search-hint-title: #{$blue};
  --search-hint-link: #{$black};
}

:root[data-theme="dark"] {
  --background: #{$blue-night};
  --theme-transition: 0.5s;
  --button-border: #{$blue-dark};
  --text-color: #{$snow-white};
  --icon-color: #{$blue-dark};
  --link-underline: #{$blue-dark};
  --input-border: #{$blue-dark};
  --input-background: #{$blue-night};
  --input-placeholder: #{$blue-dark};
  --span-text: #{$blue-dark};
  --search-hint: #{$sea-blue-light-night};
  --search-hint-title: #{$blue-dark};
  --search-hint-link: #{$snow-white};
}
