@import "src/assets/style/main";

.map {
  width: 323px;
  height: 200px;
  border-color: $blue-light;
  border-radius: 10px;
  overflow: hidden;

  &__spinner {
    @include flex(center, center);

    height: 100%;
  }
}
