.spinner {
  width: 100px;
  height: 100px;
  filter: blur(1px);
  animation:
    rotate 1s infinite ease-out,
    transf 0.8s infinite ease-out;
}

@keyframes rotate {
  50% {
    transform: scale(0.75) rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes transf {
  0%,
  100% {
    background-image: url('data:image/svg+xml;charset=utf-8, <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m 23.008092,14.514586 c -5.70238,-0.22821 -10.17018,6.20716 -7.96465,11.47043 1.52819,3.75528 5.63828,5.54458 7.49071,9.14429 6.88992,10.03526 5.63902,24.6235 -2.85009,33.34554 -2.89631,2.39104 -5.88568,5.65136 -5.09001,9.74867 0.58644,5.676839 7.59174,9.18487 12.48794,6.251437 3.42576,-2.408716 5.7863,-6.192327 9.71883,-7.993297 10.80752,-6.35121 25.85979,-3.69961 33.75218,6.061814 3.60276,4.57731 11.60086,3.624639 14.02902,-1.669926 2.15338,-3.938318 0.38938,-8.921858 -3.19483,-11.337138 -8.84541,-8.14134 -10.98902,-22.39888 -4.88979,-32.76662 1.80882,-4.01113 5.76675,-6.32003 8.08462,-9.89624 2.79291,-4.96528 -0.89192,-11.83213 -6.54828,-12.29652 -4.35062,-0.7806 -7.43963,2.70898 -10.05859,5.56458 -8.93957,8.28541 -23.58282,9.15928 -33.43778,1.98323 -3.54832,-1.9767 -5.30245,-6.41665 -9.46457,-7.3564 -0.67494,-0.16625 -1.36941,-0.25595 -2.06471,-0.25385 z" fill="rgb(78, 76, 191)" /></svg>');
  }
}
